.f-d-row {
  flex-direction: row;
  flex-wrap: nowrap;
}


@media (max-width: 750px) {
  @for $i from 1 through $columns {
    .col-md-#{$i} {
      flex: 0 0 100%;
    }
  }
  .f-d-row {
    flex-direction: column;
  }


}
